*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: scroll;
    background-color: whitesmoke;
}
.container, .container2{
    margin: auto;
    width: 90%;
    height: 100vh;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.container .container-description, .container2 .container-description2{
    width: 40%;
}
.container .container-description .title,
.container2 .container-description2 .title{
    font-size: 59px;
    color: rgb(3,146,156);
}
.container .container-description hr{
    width: 10%;
    border: 2px solid rgb(3,146,156);
}
.container2 .container-description2 hr{
    width: 10%;
    border: 2px solid; 
    color: #F52300 ;
}
.container .container-description article,
.container2 .container-description2 article{
    margin: 20px 10px;
    font-size: 19px;
}
.container .container-image,
.container2 .container-image2{
    width: 50%;
    margin: auto;
}
.image-background{
    width: 100%;
    height: 80vh;
    background: url("../images/mando.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.image-background2{
   width: 0%;
   height: 0%;
   border: 1px dashed #F52300 ;
}
#h1{
    color: #DE1F53;
}
.barra{
    width: 0%;
}

/*video*/
.video{
    width: 100%;
    height: 100%;
}
.title span{
    color: black;
    font-size: 3rem;
    cursor: context-menu;
  }
  span:hover{
    transform: all .5s;
    color: darkcyan;
  }
.container .container-description span .m-left{
    margin-left: -1px;
  }
  .title span{
    display: inline-block;
  }
  .normal{
      font-size: 0.5em;
      color: black;
  }

@media (max-width: 1200px) {
    /*primera diapositiva*/
    .container .container-image, .container2 .container-image2{
        width: 100%;
        margin: auto;
    }
    .container .container-description,
    .container2 .container-description2{
        width: 100%;
    }
    .container .container-description .title,
    .container2 .container-description2 .title{
        text-align: center;
        font-size: 70px;
    }
  }